.form-container {
	background-color: aqua;
}

.form-container form {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.data-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: antiquewhite;
}

.data-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.data-container h3::after {
	content: ":";
}

.data-container p {
	font-weight: 200;
}
